@page "/usuarios"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioBaja BajaUsuarios
@inject CasoDeUsoUsuarioLista ListaUsuarios
@inject CasoDeUsoAdmModificacion ModificacionUsuario
@inject IServicioAutorizacion autorizacion
@inject ISesion Sesion

<PageTitle>Usuarios</PageTitle>

@if(mostrarError)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>@mensajeError</h3>
            <button class= "btn btn-primary" @onclick="()=>CerrarMensaje()">Aceptar</button>
        </div>
    </div>
}

<style>
    table, th, td {
        border: 1px solid white;
        border-collapse : collapse;
        padding: 10px;
        width: 50%;
    }
    th, td {
        background-color : lightblue;
    }
</style>
<table style>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electronico</th>
            <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Usuario usuario in _lista)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.CorreoElectronico</td>
                @* <td>    
                    @foreach(Permiso permiso in usuario.Permisos)
                    {
                        <td>@permiso</td>
                    }
                </td> *@
                <td>
                    <button class= "btn btn-primary" @onclick="()=>ModificarUsuario(usuario)">Modificar</button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminado(usuario)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<Confirmacion @ref="dialogo" OnConfirmado="()=>EliminarUsuario(_usuarioEliminado)"/>

@code
{
    private string mensajeError = "";
    private bool mostrarError = false;
    Usuario? _usuarioEliminado = null;
    Usuario sesionAct;
    List<Usuario> _lista = new List<Usuario>();
    Confirmacion dialogo = null!;

    protected override void OnInitialized()
    {
        sesionAct = Sesion.GetSesion();
        TodosUsuarios();
    }
    private void ModificarUsuario(Usuario usuario)
    {
        try
        {
            ModificacionUsuario.Ejecutar(sesionAct.Id, usuario);
        }
        catch(Exception e)
        {
            mensajeError = e.Message;
            mostrarError = true;
        }
    }

    private void ConfirmarEliminado(Usuario usuario)
    {
        _usuarioEliminado = usuario;
        dialogo.Mensaje = $"¿Desea eliminar el Usuario {usuario.Id}?";
        dialogo.Mostrar();
    }

    private void EliminarUsuario(Usuario usuario)
    {
        try
        {
            BajaUsuarios.Ejecutar(usuario.Id, sesionAct.Id);
        }
        catch(Exception e)
        {
            mensajeError = e.Message;
            mostrarError = true;
        }
    }    
    private void TodosUsuarios()
    {
        try
        {
            _lista = ListaUsuarios.Ejecutar(sesionAct.Id);
        }
        catch(Exception e)
        {
            mensajeError = e.Message;
            mostrarError = true;
        }
    }

    private void CerrarMensaje()
    {
        mostrarError = false;
    }

}